@model BoVoyageP4.Models.HomeIndexViewModel
@using BoVoyageP4.Helpers;

<div class="row">

    @if (Model.Voyages != null)
    {
        foreach (var item in Model.Voyages)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @if (item.Images?.Count() > 0)
                    {
                        @Html.VoyageImage(item.Images.First(), "img-circle")
                    }
                    <div class="caption">
                        <h3>@item.Destination.</h3>
                        <p>@item.PrixParPersonne</p>
                        <p>@item.DateAller.ToString("ddd dd MMM yyyy ")</p>
                        <p>@item.DateRetour.ToString("ddd dd MMM yyyy ")</p>

                        @Html.ActionLink("Reserver", "Reservation/" + @item.ID, "Reservation", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
                        @Html.ActionLink("Plus d'Infos", "Details/" + @item.ID, "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

                    </div>
                        </div>
                    </div>
                }
            }
        </div>
