
@model BoVoyageP4.Models.HomeIndexViewModel
@using BoVoyageP4.Helpers;

<div class="row">

   
    @if (Model.Voyages != null)
    {
        foreach (var item in Model.Voyages)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @if (item.Images?.Count() > 0)
                    {
                        @Html.VoyageImage(item. Images.First(), "img-circle")
                    }
                    <div class="caption">
                        <h3>@item.Destination.</h3>
                        <p>@item.PrixParPersonne</p>
                        <p>@item.DateAller.ToString("ddd dd MMM yyyy ")</p>

                        @*<p><a href="@Url.RouteUrl("DetailsVoyage", new { id=item.ID, name = item.Name })" class="btn btn-primary" role="button">Voir les détails</a> <a href="@Url.Action("", "clients", new { voyageId = item.ID })" class="btn btn-primary" role="button">S'inscrire</a></p>*@
                    </div>
                </div>
            </div>
        }
    }
</div>