@model BoVoyageP4.Models.HomeIndexViewModel
@using BoVoyageP4.Helpers;
<div class="row">
    <form action="@Url.Action("Recherche", "Home")" id="Recherche" method="get" enctype="multipart/form-data">
        <ul class="nav navbar-nav">
            <li> <input type="text" class="form-control" id="Recherche" name="Filter" placeholder="Recherche par Region"></li>
            <li><button type="submit" class="btn btn-info">Chercher</button></li>
        </ul>
    </form>
    <div class="text-primary">
        <form action="@Url.Action("Tri", "Home")" id="Tri" method="get" enctype="multipart/form-data">
            <ul class="nav navbar-nav">
                <li>TRIER PAR   :   </li>
                <li>REGION:   @Html.RadioButton("ChampsTri", "REGION")</li>
                <li>DATE DE DEPART: @Html.RadioButton("ChampsTri", "DATEDEPART")</li>
                <li>DATE DE RETOUR: @Html.RadioButton("ChampsTri", "DATERETOUR")</li>
                <li>PRIX: @Html.RadioButton("ChampsTri", "PRIX")</li>
            </ul>
            <input type="submit" value="GO" />
        </form>
    </div>
</div>
<div class="row">

    @if (Model.Voyages != null)
    {
        foreach (var item in Model.Voyages)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @if (item.Images?.Count() > 0)
                    {
                        @Html.VoyageImage(item.Images.First(), "img-circle")
                    }
                    <div class="caption">
                        <h3>Pays:@item.Destination.Pays</h3>
                        <h3>Region:@item.Destination.Region</h3>
                        <p>Prix:@item.PrixParPersonne</p>
                        <p>Date Aller:@item.DateAller.ToString("ddd dd MMM yyyy ")</p>
                        <p>Date Retour:@item.DateRetour.ToString("ddd dd MMM yyyy ")</p>
                        @Html.ActionLink("Reservez vite!", "Reservation/" + @item.ID, "Reservation", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
                        <p><a href="@Url.RouteUrl("DetailsVoyage", new { id=item.ID, pays = item.Destination.Pays })" class="btn btn-primary" role="button">Voir les détails</a>

                    </div>
                </div>
            </div>
        }
    }
</div>
