@{
    var client = Session["CLIENT"] as BoVoyageP4.Models.Client;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BoVoyage</title>
    <link href="~/styles/destinations.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
                            <div class="logo"> <a>  @Html.ActionLink("BoVoyage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </a></div>
                            <nav class="main_nav">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li class="active"><a>@Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a></li>
                                    <li><a> @Html.ActionLink("À propos", "About", "Home")</a></li>
                                    <li><a>@Html.ActionLink("Contact", "Contact", "FormulaireContacts")</a></li>
                                    <li><a>@Html.ActionLink("Inscription", "Subscribe", "Clients")</a></li>
                                    <li><a href="@Url.Action("index", "TableauDeBord", new { area="backoffice" })">Espace collaborateur</a></li>
                                    <li>

                                        @if (client == null)
                                        {
                                            <!--

                                            GTM:Url.Action("login", "AuthentificationClient") dont work
                                            <form class="navbar-form navbar-right" method="post" action="@Url.Action("login", "AuthentificationClient")">
                                                <div class="form-group">
                                                    <input type="text" name="Email" class="form-control" placeholder="Login">
                                                    <input type="password" name="MotDePasse" class="form-control" placeholder="Mot de passe" />
                                                </div>
                                                <button type="submit" class="btn btn-info">OK</button>
                                            </form>
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="@Url.Action("subscribe", "clients")">Inscription</a></li>
                                            </ul>
                                            -->
                                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                                <li><a href="@Url.Action("Login","AuthentificationClient",new { area="" } )">Se connecter</a></li>
                                            </ul>

                                        }
                                        else
                                        {
                                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                                <li>Bonjour  @client.Prenom</li>
                                                <li><a href="@Url.Action("EspacePersonnel", "clients", new { area="" })">Espace Personnel</a></li>
                                                <li><a href="@Url.Action("logout", "AuthentificationClient")"><i class="glyphicon glyphicon-log-out"></i></a></li>
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <div class="container body-content">
        @Html.Partial("_PartialDisplay")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BoVoyage</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>