@model BoVoyageP4.Models.DossierReservation
@{
    ViewBag.Title = "Reservation";
    var client = Session["CLIENT"] as BoVoyageP4.Models.Client;
    var voyage = Session["Voyage"] as BoVoyageP4.Models.Voyage;
}

<h2>Reservation</h2>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Agence de Voyage :
        </dt>

        <dd>
            @voyage.AgenceVoyage.Nom
        </dd>

        <dt>
            Continent :
        </dt>

        <dd>
            @voyage.Destination.Continent
        </dd>

        <dt>
            DateAller
        </dt>

        <dd>
            @voyage.DateAller.ToString()
        </dd>

        <dt>
            DateRetour
        </dt>

        <dd>
            @voyage.DateRetour.ToString()
        </dd>

        <dt>
            PlacesDisponibles
        </dt>

        <dd>
            @voyage.PlacesDisponibles.ToString()
        </dd>

        <dt>
            PrixParPersonne
        </dt>

        <dd>
            @voyage.PrixParPersonne.ToString()
        </dd>
    </dl>
</div>

<div>
    @if (voyage.PlacesDisponibles > 0)
    {
        if (client != null)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>DossierReservation</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumeroCarteBancaire, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NumeroCarteBancaire, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumeroCarteBancaire, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Assurances, "Assurances", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Assurances", null, htmlAttributes: new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Assurances, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.Hidden("PrixParPersonne", voyage.PrixParPersonne)
                    @Html.Hidden("PlacesDisponibles", voyage.PlacesDisponibles)
                    @Html.Hidden("EtatDossierReservation", 0)
                    @Html.Hidden("RaisonAnnulationDossier", 0)
                    @Html.Hidden("PrixTotal", 0)

                    @Html.Hidden("Voyage", voyage)
                    @Html.Hidden("IDVoyage", voyage.ID)

                    @Html.Hidden("Client", client)
                    @Html.Hidden("IDClient", client.ID)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <label for="Participants">Combien de Participants?</label>
                            <input type="number" id="Participants" name="nbParticipants"
                                   step="1" min="1" max="@voyage.PlacesDisponibles" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reserver" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert-info">
                Connectez-vous pour reserver!
            </div>
        }
    }
    else
    {
        <p>Plus de place Disponibles</p>
    }
</div>