<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Agence", "Index", "AgenceVoyages", new { area = "BackOffice" }, new { @class = "navbar-brand" })
                @Html.ActionLink("voyage", "Index", "Voyages", new { area = "BackOffice" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Destination", "Index", "Destinations", new { area = "BackOffice" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Client", "Index", "Clients", new { area = "BackOffice" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Assurance", "Index", "Assurances", new { area = "BackOffice" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Commercial", "Index", "Commercials", new { area = "BackOffice" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>