@model IEnumerable<BoVoyageP4.Models.AgenceVoyage>

@{
    ViewBag.Title = "Gestion des Agences de Voyages";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create", "AgenceVoyages")" class="btn btn-primary" role="button">Nouvelle Agence de Voyages</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            <a href="@Url.Action("Modifier", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a>
            <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a>
            <a href="@Url.Action("Suprimmer", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
