@model BoVoyageP4.Models.Voyage

@{
    ViewBag.Title = "Supprimer";
}

<h2>@ViewBag.Title Voyage</h2>

<h3>Etes vous sur?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgenceVoyage.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenceVoyage.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRetour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacesDisponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixParPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixParPersonne)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
