@model BoVoyageP4.Models.Voyage
@using BoVoyageP4.Helpers;
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Voyage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.DateAller, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAller, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateAller, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRetour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRetour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateRetour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlacesDisponibles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlacesDisponibles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlacesDisponibles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrixParPersonne, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrixParPersonne, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrixParPersonne, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDDestination, "IDDestination", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDDestination", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDDestination, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDAgenceVoyage, "IDAgenceVoyage", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDAgenceVoyage", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDAgenceVoyage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="col-md-6">
    
    <h3>Images</h3>
   
    <form action="@Url.Action("AjoutImage", "Voyages")" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.ID)
        
        <div class="form-group">
            <label for="if">Fichier</label>
            <input type="file" id="if" name="image">
        </div>
        <button type="submit" class="btn btn-info">Enregistrer</button>
    </form>
    <div class="row">
        @if (Model.Images != null)
        {
            foreach (var image in Model.Images)
            {
                <div class="col-md-3" id="div-@image.ID">
                    <p>@image <a href="#" class="delete" data-id="@image"><i class="glyphicon glyphicon-trash"></i></a></p>
                    @Html.VoyageImage(image, "img-thumbnail")
                </div>
            }
        }

    </div>
</div>

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>
@section Scripts{
    
    <script src="~/Scripts/jquery.datetimepicker.js"></script>

    <script>

        $(function () {
            $('#DateAller').datetimepicker({
                lang: 'fr',
                step: 15,
                format: 'd/m/y H:i'
            });
            $('#DateRetour').datetimepicker({
                lang: 'fr',
                step: 15,
                format: 'd/m/y H:i'
            });

 


            $('a.delete').click(function () {
                var idImage = $(this).data("id");
              
                $.ajax({
                    url: '@Url.Action("SupprimerImage", "Voyages")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: idImage },
                    success: function (obj) {
                        alert("l'image " + obj.Name + " a été supprimée.");
                        $("#div-" + idImage).fadeOut();
                    }
                });
            });
        });
    </script>
}