@model IEnumerable<BoVoyageP4.Models.Voyage>

@{
    ViewBag.Title = "Gestion des Voyages";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create", "Voyages")" class="btn btn-primary" role="button">Nouveau Voyage</a>
</p>

<form action="@Url.Action("Recherche", "Voyages")" id="Recherche" method="get" enctype="multipart/form-data">
    <ul class="nav navbar-nav">
        <li> <input type="text" class="form-control" id="Recherche" name="Filter" placeholder="Recherche par Region"></li>
        <li><button type="submit" class="btn btn-info">Chercher</button></li>
    </ul>
</form>

<div class="text-primary">
    <form action="@Url.Action("Tri", "Voyages")" id="Tri" method="get" enctype="multipart/form-data">
        <ul class="nav navbar-nav">
            <li>TRIER PAR   :   </li>
            <li>REGION:   @Html.RadioButton("ChampsTri", "REGION")</li>
            <li>AGENCE:   @Html.RadioButton("ChampsTri", "AGENCE")</li>
            <li>DATE DE DEPART: @Html.RadioButton("ChampsTri", "DATEDEPART")</li>
            <li>DATE DE RETOUR: @Html.RadioButton("ChampsTri", "DATERETOUR")</li>
            <li>PLACES DISPONIBLES: @Html.RadioButton("ChampsTri", "PLACESDISPONIBLES")</li>
            <li>PRIX: @Html.RadioButton("ChampsTri", "PRIX")</li>
        </ul>
        <input type="submit" value="GO" />
    </form>
</div>

<table class="table">
    <tr>
        <th>
            N°
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgenceVoyage.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixParPersonne)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgenceVoyage.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacesDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixParPersonne)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a>
                <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a>
                <a href="@Url.Action("Delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }
</table>