@model IEnumerable<BoVoyageP4.Models.Voyage>

@{
    ViewBag.Title = "Gestion des Voyages";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create", "Voyages")" class="btn btn-primary" role="button">Nouveau Voyage</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgenceVoyage.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixParPersonne)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgenceVoyage.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.Continent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRetour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacesDisponibles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixParPersonne)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a>
            <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a>
            <a href="@Url.Action("Delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
