@model BoVoyageP4.Models.DossierReservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DossierReservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voyage.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voyage.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCarteBancaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCarteBancaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixParPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixParPersonne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtatDossierReservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtatDossierReservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisonAnnulationDossier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisonAnnulationDossier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixTotal)
        </dd>
        @if (Model.Participants != null)
        {
            foreach (var part in Model.Participants)
            {
                <p>
                    @part.Civilite @part.Prenom @part.Nom : @part.Age Ans
                </p>
            }
        }
        else
        {
            <p>
                Aucun Participants
            </p>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>