@model IEnumerable<BoVoyageP4.Models.DossierReservation>

@{
    ViewBag.Title = "Gestion des Dossiers de Reservation";
}

<h2>@ViewBag.Title</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            N°
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voyage.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCarteBancaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixParPersonne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatDossierReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaisonAnnulationDossier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voyage.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCarteBancaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixParPersonne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatDossierReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaisonAnnulationDossier)
            </td>
            <td>
                @item.Participants.Count()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixTotal)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a>
                <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a>
                <a href="@Url.Action("Delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }
</table>